<!--Header-->
<include file="Public:header" />
<div class="container-fluid">
    <div class="row">
        <!--Sidebar-->
        <include file="Public:sidebar" />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="urls-show" class="list-group">
                <!-- <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">百度一下 你就知道</h4>
                        <p class="list-group-item-text">
                            www.baidu.com
                            <span class="label label-success">搜索引擎</span>
                        </p>
                    </a> -->
               <foreach name='list_urls' item='data'>
                    <a href="{$data['url_content']}" class="list-group-item" target="_blank">
                        <h4 class="list-group-item-heading">{$data['url_title']}</h4>
                        <p class="list-group-item-text">{$data['url_host']}
                            <span class="label label-success">{$data['url_tag']}</span>
                        </p>
                    </a>
                </foreach>
                <include file="Public:page"/>
            </div>
        </div>
    </div>
</div>
<!--Login-->
<include file="Public:login"/>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="JS/jquery.js"></script>
<script src="PLUG/bootstrap/js/bootstrap.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="JS/holder.js"></script>

</body>

</html>
