<!--Header-->
<include file="Public:header" />
<div class="container-fluid">
    <div class="row">
        <!--Sidebar-->
        <include file="Public:sidebar" />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="urls-show" class="list-group">
                <foreach name='list_notes' item='data'>
                    <blockquote>
                        <p>{$data['note_content']}</p>
                        <small>{$data['note_tag']}<cite title="Source Title"> {$data['note_time']}</cite></small>
                    </blockquote>
                </foreach>
                <include file="Public:page" />
            </div>
        </div>
    </div>
</div>
<!--Login-->
<include file="Public:login" />
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="JS/jquery.js"></script>
<script src="PLUG/bootstrap/js/bootstrap.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="JS/holder.js"></script>
</body>

</html>
