<!--Header-->
<include file="Public:header" />
<div class="container-fluid">
    <div class="row">
        <!--Sidebar-->
        <include file="Public:sidebar_add" />
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">列表：</h2>
             <form id="add-url" class="form-signin" action="{:U('Home/Index/add_url_deal','','')}" method="post">
                <h2 class="form-signin-heading">YOUR URLS</h2>
                <input type="url" id="url-url" class="form-control input-lg" placeholder="YOUR URLS" name="urlValue" required="" autofocus="">
                <br/>
                <br/>
                <input type="text" id="url-tag" class="form-control input-lg" placeholder="YOUR TAGS" name="tagValue" required="" autofocus="">
                <br/>
                <input type="checkbox" id="isopen" name="isopen" checked> <sapn style="color:red">默认设为公开(取消别人不可见)</span>
                <br/>
                <button id="btn-insert-urls" class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
            </form>
        </div>
    </div>
</div>
<!--Login-->
<include file="Public:login"/>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="JS/jquery.js"></script>
<script src="PLUG/bootstrap/js/bootstrap.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script>
    $(document).ready(function() {
        function isURL(URL) {
            var strRegex = "^((https|http|ftp|rtsp|mms)://)?[a-z0-9A-Z]{100}\.[a-z0-9A-Z][a-z0-9A-Z]{0,61}?[a-z0-9A-Z]\.com|net|cn|cc (:s[0-9]{1-4})?/$";
            var re = new RegExp(strRegex);
            if (re.test(URL)) {
                return true;
            } else {
                return false;
            }
        }
    });
    </script>
</body>

</html>