<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <a href="{:U('Urls/index')}">
            	<span class="glyphicon glyphicon-plus" aria-hidden="true"> 添加
        	</a>
        </li>
        <li>
            <a href="javascript:void(0);">
            	<span class="glyphicon glyphicon-cog" aria-hidden="true"> 管理
        	</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
    	<li>
            <a id="show-note" href="{:U('Urls/show')}">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"> URLS
             </a>
        </li>
        <li>
            <a id="show-note" href="{:U('Notes/show')}">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"> 轻笔记
             </a>
        </li>
        <li>
        	<a id="show-all-tags" href="{:U('Index/tags')}">
        		<span class="glyphicon glyphicon-tags" aria-hidden="true"> 所有标签
        	</a>
        </li>
    </ul>
</div>
